<!-- Account information -->
<% if @account %>
  <div class="page-header">
    <h3><%= t('models.network.aviso.abonent') %></h3>
  </div>
  <%= view_for @account, title: t('models.network.aviso.account_param'), icon: '/icons/user.png', collapsible: true do |f|
    f.text_field 'customer.accnumb', tag: 'code', label: t('models.network.aviso.number'), required: true
    f.text_field 'customer.custname', label: t('models.network.aviso.name'), required: true
    f.text_field 'mtnumb', label: t('models.network.aviso.count_no'), required: true
    f.date_field 'createdate', label: t('models.network.aviso.created'), required: true
  end %>
  <div class="btn-toolbar">
    <%= link_to t('models.network.aviso.abonent_bound'), network_add_aviso_customer_url(custkey: @account.custkey), class: ['btn', 'btn-danger'], method: 'post', confirm: t('models.network.aviso.abonent_bound_confirm') %>
  </div>
<% else %>
  <div class="page-header">
    <h3><%= t('models.network.aviso.abonent_search') %></h3>
  </div>
  <div class="muted" style="padding: 0 0 15px 0;">
    <%= t('models.network.aviso.abonent_search_hint') %> 
  </div>
  <div>
    <form method="get">
      <div><input type="text" name="meter" autofocus/></div>
      <div><button type="submit" class="btn btn-primary">ძებნა</button></div>
    </form>
  </div>
<% end %>
<!-- Aviso information -->
<div class="page-header">
  <h3><%= t('models.network.aviso.bound_aviso') %></h3>
</div>
<%= view_for @aviso, title: t('models.network.aviso.aviso_param'), icon: '/icons/money-coin.png', collapsible: true do |f|
  f.date_field 'avdate', label: t('models.network.aviso.date'), required: true
  f.complex_field label: t('models.network.aviso.bank'), required: true do |c|
    c.text_field 'paypoint'
    c.text_field 'basepointkey', class: 'muted', before: '&mdash;'.html_safe
  end
  f.number_field 'amount', label: t('models.network.aviso.amount'), after: 'GEL', required: true
  f.text_field 'accnumb', label: t('models.network.aviso.abonent_no')
  f.text_field 'invoice', label: t('models.network.aviso.invoice_no')
  f.text_field 'note', label: t('models.network.aviso.note')
end %>