<!DOCTYPE html>
<html lang="ka">
<head>
<meta name="Author" content="Temo Chutlashvili">
<meta name="Keywords" content="Telasi, Electricity">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><% if @title.present? %><%= @title %> &mdash; <% end %>telasi.ge</title>
<%= stylesheet_link_tag 'application', media: "all" %>
<%= favicon_link_tag('/favicon.ico') %>
<%= csrf_meta_tags %>
</head>
<body class="telasi">
<%= render partial: 'layouts/stamba/header' %>
<div id="contentcart">
  <%= render partial: 'layouts/stamba/sidebar' %>
  <div class="mainbar">
  	<div class="containerx">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>