<div style="padding-bottom: 16px;">
  ახალი სტატუსი &mdash;
  <strong>
    <img src="<%= Network::NewCustomerApplication.status_icon params[:status].to_i %>"></img>
    <%= Network::NewCustomerApplication.status_name params[:status].to_i %>
  </strong>
</div>
<% if @error %>
<div class="block block-error"><%= @error %></div>
<% end %>
<%= sms_message_form @message, title: t('models.network.change.sms'),
  icon: '/icons/mail.png', submit: t('models.network.change.status_change'),
  cancel_url: network_new_customer_url(id: @application.id),
  no_message: [Network::NewCustomerApplication::STATUS_SENT, Network::NewCustomerApplication::STATUS_CONFIRMED].include?(params[:status].to_i)
%>
<% if not [Network::NewCustomerApplication::STATUS_SENT, Network::NewCustomerApplication::STATUS_CONFIRMED].include?(params[:status].to_i) %>
<%= render partial: '/network/sms_helpers', locals: { application: @application } %>
<% end %>