<% with_actions = false unless defined?(with_actions) %>
<% with_sms = (not not defined?(registration)) %>
<ul class="list-group">
  <li class="list-group-item">
    <div class="pull-right">
      <i class="fa fa-bolt"></i>
      <code><%= number_with_precision customer.balance, precision: 2 %></code> GEL
      &nbsp;
      <% if with_actions %>
        <%= link_to t('models.general.history'), customer_history_url(custkey: customer.custkey), class: ['btn', 'btn-xs', 'btn-info'] %>
      <% end %>
      <%= link_to t('pay'), pay_show_form_url(serviceid: 'ENERGY', amount: (customer.balance>0 ? customer.balance : 0), accnumb: customer.accnumb.to_ka), class: ['btn', 'btn-success', 'btn-xs'] %>
    </div>
    <%= t('models.billing_customer.balance') %>
    <%pre_payment=customer.pre_payment ; pre_payment_date=customer.pre_payment_date%>
    <%if pre_payment_date%>
      <div class="alert alert-warning" style="padding: 8px 5px; margin:4px 0 0 0;">
        დაუდასტურებელი გადახდა: <code><%=pre_payment%></code>GEL
        <span class="text-muted"><%=pre_payment_date.strftime('%d-%b-%Y %H:%M:%S')%></span>
      </div>
    <%end%>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <i class="fa fa-trash-o"></i>
      <code><%= number_with_precision customer.trash_balance, precision: 2 %></code> GEL
      &nbsp;
      <% if with_actions %>
        <%= link_to t('models.general.history'), customer_trash_history_url(custkey: customer.custkey), class: ['btn', 'btn-xs', 'btn-primary'] %>
      <% end %>
      <%= link_to t('pay'), pay_show_form_url(serviceid: 'TRASH', amount: (customer.trash_balance>0 ? customer.trash_balance : 0), accnumb: customer.accnumb.to_ka), class: ['btn', 'btn-success', 'btn-xs'] %>
    </div>
    <%= t('models.billing_customer.trash_balance') %>
    <%pre_trash_payment=customer.pre_trash_payment ; pre_trash_payment_date=customer.pre_trash_payment_date%>
    <%if pre_trash_payment_date%>
      <div class="alert alert-warning" style="padding: 8px 5px; margin:4px 0 0 0;">
        დაუდასტურებელი გადახდა: <code><%=pre_trash_payment%></code>GEL
        <span class="text-muted"><%=pre_trash_payment_date.strftime('%d-%b-%Y %H:%M:%S')%></span>
      </div>
    <%end%>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <i class="fa fa-tint"></i>
      <code><%= number_with_precision (customer.current_water_balance || 0), precision: 2 %></code> GEL
      <% if with_actions %>
        &nbsp;
        <%= link_to t('models.general.history'), nil, class: ['btn', 'btn-xs', 'btn-default'], disabled: true %>
      <% end %>
      <%= link_to t('pay'), nil, class: ['btn', 'btn-xs', 'btn-default'], disabled: true %>
    </div>
    <%= t('models.billing_customer.current_water_balance') %>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <i class="fa fa-time"></i>
        <% if customer.last_bill_date %>
          <code>№<%= customer.last_bill_number %></code>
          <%= customer.last_bill_date.strftime('%d/%m/%Y') %>
        <% else %>
          <span class="text-muted"><%= t('models.general.undefined') %></span>
        <% end %>
    </div>
    <%= t('models.billing_customer.last_bill') %>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <i class="fa fa-time"></i>
      <% if customer.cut_deadline %>
        <%= customer.cut_deadline.strftime('%d/%m/%Y') %>
      <% else %>
        <span class="text-muted"><%= t('models.general.undefined') %></span>
      <% end %>
    </div>
    <%= t('models.billing_customer.cut_deadline') %>
  </li>
  <%if with_sms%>
    <li class="list-group-item">
      <div class="pull-right">
        <%=yes_no registration.receive_sms, t('models.customer_registration.receive_sms_yes'), t('models.customer_registration.receive_sms_no')%>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%=link_to t('models.customer_registration.actions.toggle_sms'), toggle_customer_sms_url(id:registration.id), class:['btn','btn-xs','btn-info'], data:{method:'post', confirm:t('models.customer_registration.actions.toggle_sms_confirm')}%>
      </div>
      <%=t('models.customer_registration.receive_sms')%>
    </li>
  <%end%>
</ul>