<script type="text/javascript">
var CAT_PERSONAL="<%=Customer::Registration::CAT_PERSONAL%>";
var resetForm=function() {
  var category=$('#customer_registration_category').val();
  if (category===CAT_PERSONAL){
    $('#factura-box').hide();
  } else {
    $('#factura-box').show();
  }
};
$(function(){
  $('#customer_registration_category').change(resetForm);
  resetForm();
});
</script>
<%= form_for registration, url: request.url do |f| %>
  <div class="panel-body">
    <p class="text-muted"><%= t('pages.customers.register.save_customer_descr') %></p>
    <div class="form-group">
      <%= f.label :category, t('models.customer_registration.public_category') %>
      <%= f.select :category, options_for_select({
        t('models.customer_registration.public_category_personal') => Customer::Registration::CAT_PERSONAL,
        t('models.customer_registration.public_category_not_personal') => Customer::Registration::CAT_NOT_PERSONAL,
      }, selected: registration.category), {}, {class: 'form-control'}%>
    </div>
    <div class="form-group" id="factura-box">
      <%= f.check_box :need_factura %>
      <%= f.label :need_factura, t('models.customer_registration.public_need_factura'), style:'display:inline;' %>
    </div>
    <%= f.b_text_field :rs_tin, label: t('models.customer_registration.public_rs_tin') %>
    <%= f.b_text_field :address, label: t('models.customer_registration.public_address') %>
    <%= f.b_text_field :address_code, label: t('models.customer_registration.public_address_code') %>
    <div class="form-group">
      <%= f.label :ownership, t('models.customer_registration.public_ownership') %>
      <%= f.select :ownership, options_for_select({
        t('models.customer_registration.public_ownership_owner') => Customer::Registration::OWN_OWNER,
        t('models.customer_registration.public_ownership_rent') => Customer::Registration::OWN_RENT,
      }, selected: registration.ownership), {}, {class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.check_box :change_data %>
      <%= f.label :change_data, t('models.customer_registration.public_change_data'), style:'display:inline;' %>
    </div>
  </div>
  <div class="panel-footer">
    <button type="submit" class="btn btn-success">
      <%= t('models.customer_registration.actions.public_save') %>
    </button>
  </div>
<% end %>