<h2 class="page-header">
  <div class="pull-right">
    <button class="btn btn-primary" data-toggle="modal" data-target="#customer-debt">
      <i class="fa fa-question-circle"></i>
    </button>
  </div>
  <a href="<%= customers_url %>" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
  <code>#<%= @customer.accnumb.to_ka %></code>
  <%= @customer.custname.to_ka %>
</h2>
<div class="page-header">
  <h4><i class="fa fa-bolt"></i> <%= @title %></h4>
</div>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th width="120"><%=t('models.billing_item.date')%></th>
      <th><%=t('models.billing_item.operation')%></th>
      <th width="150"><%=t('models.billing_item.reading')%></th>
      <th width="150"><%=t('models.billing_item.kwh')%></th>
      <th width="150"><%=t('models.billing_item.amount')%></th>
      <th width="150"><%=t('models.billing_item.balance')%></th>
    </tr>
  </thead>
  <tbody>
    <%@items.each do |item|%>
    <tr>
      <td><code><%=item.itemdate.strftime('%d-%b-%Y')%></code></td>
      <td><%=item.operation%></td>
      <td class="text-right">
        <code><%=number_with_precision item.reading,precision:2,delimiter:',',separator:'.'%></code>
        kWh
      </td>
      <td class="text-right">
        <code><%=number_with_precision item.kwt,precision:2,delimiter:',',separator:'.'%></code>
        kWh
      </td>
      <td class="text-right">
        <code><%=number_with_precision item.amount,precision:2,delimiter:',',separator:'.'%></code>
        GEL
      </td>
      <td class="text-right">
        <code><%=number_with_precision item.balance,precision:2,delimiter:',',separator:'.'%></code>
        GEL
      </td>
    </tr>
    <%end%>
  </tbody>
</table>
<div style="margin-top:-20px;">
<%= will_paginate @items %>
</div>
<div class="modal fade" id="customer-debt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%= @customer.custname.to_ka %></h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'customers/customer_info', locals: { customer: @customer } %>
      </div>
    </div>
  </div>
</div>