<div class="page-header">
  <div class="pull-right">
    <a href="<%=search_customer_url%>" class="btn btn-success">
      <i class="fa fa-search"></i> <%=t('models.billing_customer.actions.add')%>
    </a>
  </div>
  <h1><%= @title %></h1>
</div>
<% if @registrations.empty? %>
  <div class="well"><%= t('pages.customers.index.empty_list') %></div>
<% else %>
  <% @registrations.each do |reg| %>
    <%= render partial: 'customers/registration_info', locals: { registration: reg } %>
  <% end %>
<% end %>
<hr />
<div class="btn-toolbar" style="text-align: center;">
  <a href="<%=search_customer_url%>" class="btn btn-success btn-lg">
    <i class="fa fa-search"></i> <%=t('models.billing_customer.actions.add')%> &rarr;
  </a>
</div>