<div class="page-header">
  <h2><code>#<%= @customer.accnumb.to_ka %></code> <%= @customer.custname.to_ka %></h2>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= render partial: 'customers/customer_info', locals: { customer: @customer } %>
    <div style="margin-bottom: 16px;">
      <a href="<%= customers_url %>" class="btn btn-default">&larr; <%= t('menu.customers') %></a>
    </div>
  </div>
  <div class="col-sm-6">
    <%if Customer::Registration.where(user:current_user,custkey:@customer.custkey).empty?%>
      <!-- save customer form -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="fa fa-heart"></span>
          <%= t('pages.customers.register.save_customer') %>
        </div>
        <%=render partial: 'customers/form', locals: {registration:@registration}%>
      </div>
      <!-- save customer form -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <span class="fa fa-question-circle"></span>
          <%= t('pages.customers.register.save_customer_info_title') %>
        </div>
        <div class="panel-body">
          <%= t('pages.customers.register.save_customer_info_descr_html') %>
        </div>
      </div>
    <%end%>
  </div>
</div>