<div class="page-header">
  <h2><code>#<%= @customer.accnumb.to_ka %></code> <%= @customer.custname.to_ka %></h2>
</div>
<div class="row">
  <div class="col-sm-6">
    <%= render partial: 'customers/customer_info', locals: { customer: @customer } %>
    <div style="margin-bottom: 16px;">
      <a href="<%= customers_url %>" class="btn btn-default">&larr; <%= t('menu.customers') %></a>
    </div>
    <div>
      <p>
        თუ გსურთ გარდა დავალიანების ნახვისა, წვდომა გქონდეთ
        თქვენი სააბონენტო ბრუნვის ისტორიასთან (ელ.ენერგია, დასუფთავება)
        ამისათვის, საჭიროა გაიაროთ რეგისტრაცია, მოცუმული ფორმის საშუალებით.
      </p>
      <p>
        ვებ-გვერდზე აბონენტად რეგისტრაციისთვის აუცილებელი პირობაა
        იყოთ სააბონენტო ბარათის შესაბამისი ფართის მესაკუთრე ან
        საჯარო რეესტრში გქონდეთ გაფორმებული აღნიშნულ ფართზე
        საიჯარო ხელშეკრულება.
      </p>
      <p class="alert alert-info">
        <i class="fa fa-info-circle"></i>
        თუ თქვენს მიერ წარმოდგენილი მონაცემები იქნება 
        შესაბამისობაში საჯარო ინფორმაციასთან, სს თელასის 
        სააბონენტო ბარათზე განხორციელდება, წარმოდგენილი
        ინფორმაციის საფუძველზე მონაცემების
        შესწორება.
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <%if current_user && Customer::Registration.where(user:current_user,custkey:@customer.custkey).empty?%>
      <!-- save customer form -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <span class="fa fa-heart"></span>
          <%= t('pages.customers.register.save_customer') %>
        </div>
        <%=render partial: 'customers/form', locals: {registration:@registration}%>
      </div>
      <!-- save customer form -->
      <div class="panel panel-info">
        <div class="panel-heading">
          <span class="fa fa-question-circle"></span>
          <%= t('pages.customers.register.save_customer_info_title') %>
        </div>
        <div class="panel-body">
          <%= t('pages.customers.register.save_customer_info_descr_html') %>
        </div>
      </div>
    <%elsif not current_user%>
      <div style="background:whitesmoke; padding:30px;">
        <p class="text-muted">
          ამ აბონენტის თქვენს სახელზე დასარეგისტირებლად საჭიროა ავტორიზაცია.
        </p>
        <div class="text-center" style="padding:32px 0;">
          <a href="<%= login_url %>" class="btn btn-success"><%= t('menu.login') %></a>
          <a href="<%= register_url %>" class="btn btn-primary"><%= t('menu.register') %></a>
        </div>
      </div>
    <%end%>
  </div>
</div>