<%= render partial: 'customers/registration_top', locals: { registration: @registration } %>
<% docs = @registration.documents.where(denied: false)
   denied_docs = @registration.documents.where(denied: true)
%>
<% if docs.any? %>
<h3 class="page-header"><%= t('pages.customers.registration.documents') %> &mdash; <code><%= docs.count %></code></h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="40">#</th>
      <th width="300"><%= t('models.customer_document.document_type') %></th>
      <th><%= t('models.customer_document.file') %></th>
    </tr>
  </thead>
  <% docs.each_with_index do |doc,i| %>
    <tr>
      <td class="text-right"><strong><%=i+1%></strong></td>
      <td><%=doc.document_type.name%></td>
      <td>
        <% if doc.file %>
          <%= link_to doc.file.file.filename, doc.file.file.url %>
        <% else %>
          <a class="btn btn-success btn-sm" href="<%= customer_registration_doc_upload_url(doc_id: doc.id) %>">
            <i class="fa fa-plus"></i>
            <%= t('pages.customers.registration.add_file')%>
          </a>
          <span class="text-muted"><%= t('pages.customers.registration.no_file') %></span>
      <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% end %>