<%= search_form @search do |f|
  f.tab do |f|
    f.col1 do |f|
      f.text_field 'organization_name', label: t('tender.organization_name')
      f.combo_field 'organization_type', label: t('tender.organization_type_label'), 
           collection: organization_type_collection
      f.text_field 'director_name', label: t('tender.director_name')
      f.text_field 'rs_tin', label: t('models.sys_user.rs_tin')
      f.text_field 'tenderno', label: t('tender.tender')
    end
    f.col2 do |f|
    end
  end
end %>

<div class="ff-table">
  <div class="ff-table-body ff-collapsible-body">
    <table class="ff-common-table">
      <thead>
        <tr>
          <th class="ff-field"><%= t('tender.organization_name') %></th>
          <th class="ff-field"><%= t('tender.organization_type_label') %></th>
          <th class="ff-field"><%= t('tender.director_name') %></th>
          <th class="ff-field">N</th>
          <th class="ff-field"><%= t('tender.download_count') %></th>
        </tr>
      </thead>
      <tbody>
        <% 
        #raise @down.inspect
        @result.each do |item| %>
        <%
         tender = Tender::Tender.where(nid: item['_id']['nid']).first
         user = Tender::Tenderuser.where(_id: item['_id']['tenderuser']).first
        %>
        <tr>
          <td>
            <div>
              <span id="organization_name">
                <%= #item[:organization_name] 
                 user.organization_name
                %>
              </span>
            </div>
          </td>
          <td>
            <div>
              <span id="organization_type">
                <%= 
                #I18n.t("tender.organization_types.#{item[:organization_type]}") 
                 I18n.t("tender.organization_types.#{user.organization_type}") 
                %>
              </span>
            </div>
          </td>
          <td>
            <div>
              <span id="director_name">
                <%= 
                 #item[:director_name] 
                 user.director_name
                %>
              </span>
            </div>
          </td>
          <td>
            <div>
              <span id="tender">
                <a href="http://telasi.ge/ge/tenders/<%=item[:nid]%>"><%= 
                  #item[:tenderno] 
                   tender.tenderno
                  %></a>
              </span>
            </div>
          </td>
          <td>
            <div>
              <span id="download_count">
                <%= 
                #number_with_precision(item[:count], precision: 0) 
                 number_with_precision(item[:count], precision: 0) 
                %>
              </span>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= will_paginate @result %>
  </div>
</div>
