<h1 class="page-header muted"><small><%= "#{t('tender.registered_as')}: #{@tenderuser.organization_name}" %></small></h1>

<div class="panel panel-info">
  <div class="panel-heading"> 
  	<h3 class="panel-title"><%= "#{t('models.network_new_customer_application.application')} ##{@node.tenderno}" %></h3>
  </div> 
  <div class="panel-body">
    <%= @node.title %>	
  </div>
</div>
<div align='center'>
<% if @node.file_uploaded? %>
 <% if @tender.files.count > 1 %>
  <h3><%= t('tender.download_file') %></h3>
  <%= form_tag(tender_download_file_url(nid: @node.nid), method: 'post', class: ['btn-group-vertical']) do %>
      <% @tender.files.each do |f| 
        %>
        <%= button_tag "#{t('tender.file')} - #{f.file.filename}", name: 'file_id', class: ['btn', 'btn-primary'], value: f._id %>
       <%  end
     end  
    else %>
    <%= form_tag(tender_download_file_url(nid: @node.nid), method: 'post') do 
         submit_tag t('tender.download_file'), class: ['btn', 'btn-primary' ]
       end %>
  <%  end %>
<%  end %>
</div>

<div class="panel-body">
    <%= t('tender.technical_questions') %>
    <%= mail_to "webtender@telasi.ge" %>
</div>