<h2 class="page-header">
  <i class="fa fa-envelope"></i>
  <%= @title %>
</h2>
<div class="row">
  <div class="col-sm-6">
    <%= form_for @subscription, url: subscribe_item_url do |f| %>
      <div class="control-group <%= @subscription.errors[:email].present? ? 'has-error' : 'common' %>">
        <%= f.label :email, t('models.sys_subscription.email') %>
        <%= f.email_field :email, autofocus: true, class: ['form-control'] %>
        <div class="text-danger"><%= @subscription.errors[:email].join('; ') %></div>
      </div>
      <div style="margin: 16px;">
        <%= f.hidden_field "#{params[:item]}" %>
      </div>
      <div>
        <%= f.submit t('models.sys_subscription.actions.subscribe_short'), class: ['btn', 'btn-primary'] %>
      </div>
    <% end %>
  </div>
</div>