<h4 class="page-header">სტატუსების მიხედვით</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>სტატუსი</th>
      <th>რაოდ.</th>
      <th>თანხა</th>
    </tr>
  </thead>
  <% clazz::STATUSES.each do |stat| %>
    <tr>
      <td width="200">
        <img src="<%= clazz.status_icon(stat) %>" />
        <%= clazz.status_name(stat) %>
      </td>
      <td style="text-align: right;">
        <code><%= apps.where(status: stat).count %></code>
      </td>
      <td style="text-align: right;">
        <code>
          <%= number_with_precision(
                apps.where(status: stat).sum(:amount) || 0,
                precision: 2, delimiter: ',') %>
        </code> GEL
      </td>
    </tr>
  <% end %>
  <tfoot>
    <tr>
      <th>ჯამი:</th>
      <th style="text-align: right;"><code><%= apps.count %></code></th>
      <th style="text-align: right;">
        <code><%= number_with_precision(apps.sum(:amount) || 0, precision: 2, delimiter: ',') %></code> GEL
      </th>
    </tr>
  </tfoot>
</table>