<%
  detail_record = !defined?(power_from)
  summary_record = !defined?(voltage)
  clazz = detail_record ? (summary_record ? 'danger' : 'success') : 'default'
%>
<tr class="<%= clazz %>">
  <%
    if summary_record
      srch_params = { send_d1: @d1, send_d2: @d2 }
    elsif detail_record
      srch_params = { voltage: voltage, send_d1: @d1, send_d2: @d2 }
    else
      srch_params = { voltage: voltage, power1: power_from, power2: power_to, send_d1: @d1, send_d2: @d2 }
    end
  %>
  <% if summary_record %>
    <td rowspan="3" style="vertical-align: middle;">ჯამი</td>
  <% elsif detail_record %>
    <td rowspan="3" style="vertical-align: middle;">
      <code><%= voltage%></code>
    </td>
  <% else %>
    <td rowspan="3" style="vertical-align: middle;">
      <code><%= voltage %></code> <br>
      <code><%= power_from %></code>/<code><%= power_to %></code>kWh
    </td>
  <% end %>
  <!-- apps0 -->
  <td style="text-align: right; vertical-align: middle;"  rowspan="3">
    <code><%= link_to apps0.count, network_new_customers_url(search: srch_params.merge(penalty: 0)) %></code>
  </td>
  <td style="text-align: right;">
    <%
      amnt = apps0.sum(:amount) || 0
      kwh = apps0.sum(:kwh) || 0
    %>
    <code><%= number_with_precision amnt, precision: 2, delimiter: ',' %></code> GEL <br/>
    <code><%= number_with_precision kwh, precision: 2, delimiter: ',' %></code> kWh
  </td>
  <!-- apps1 -->
  <td style="text-align: right; vertical-align: middle;" rowspan="3">
    <code><%= link_to apps1.count, network_new_customers_url(search: srch_params.merge(penalty: 1)) %></code>
  </td>
  <td style="text-align: right;">
    <%
      amnt = apps1.sum(:amount) || 0
      kwh = apps1.sum(:kwh) || 0
    %>
    <code><%= number_with_precision amnt, precision: 2, delimiter: ',' %></code> GEL <br/>
    <code><%= number_with_precision kwh, precision: 2, delimiter: ',' %></code> kWh
  </td>
  <!-- apps2 -->
  <td style="text-align: right; vertical-align: middle;" rowspan="3">
    <code><%= link_to apps2.count, network_new_customers_url(search: srch_params.merge(penalty: 2)) %></code>
  </td>
  <td style="text-align: right;">
    <%
      amnt = apps2.sum(:amount) || 0
      kwh = apps2.sum(:kwh) || 0
    %>
    <code><%= number_with_precision amnt, precision: 2, delimiter: ',' %></code> GEL <br/>
    <code><%= number_with_precision kwh, precision: 2, delimiter: ',' %></code> kWh
  </td>
  <!-- apps3 -->
  <td style="text-align: right; vertical-align: middle;" rowspan="3">
    <code><%= link_to apps3.count, network_new_customers_url(search: srch_params.merge(penalty: 3)) %></code>
  </td>
  <td style="text-align: right;">
    <%
      amnt = apps3.sum(:amount) || 0
      kwh = apps3.sum(:kwh) || 0
    %>
    <code><%= number_with_precision amnt, precision: 2, delimiter: ',' %></code> GEL <br/>
    <code><%= number_with_precision kwh, precision: 2, delimiter: ',' %></code> kWh
  </td>
  <!-- all apps -->
  <td style="text-align: right; vertical-align: middle;" rowspan="3">
    <code><%= link_to apps.count, network_new_customers_url(search: srch_params) %></code>
  </td>
  <td style="text-align: right;">
    <%
      amnt = apps.sum(:amount) || 0
      kwh = apps.sum(:kwh) || 0
    %>
    <code><%= number_with_precision amnt, precision: 2, delimiter: ',' %></code> GEL <br/>
    <code><%= number_with_precision kwh, precision: 2, delimiter: ',' %></code> kWh
  </td>
</tr>

<!-- losses -->
<tr class="<%= clazz %>">
  <td style="text-align: right;">
    <code><%= number_with_precision 0, precision: 2, delimiter: ',' %></code> GEL
  </td>
  <td style="text-align: right;">
    <% amnt = apps1.sum(:penalty1) || 0 %>
    <code><%= number_with_precision amnt, precision: 2, delimiter: ',' %></code> GEL
  </td>
  <td style="text-align: right;">
    <% amnt = (apps2.sum(:penalty1) || 0) + (apps2.sum(:penalty2) || 0) %>
    <code><%= number_with_precision amnt, precision: 2, delimiter: ',' %></code> GEL
  </td>
  <td style="text-align: right;">
    <% amnt = (apps3.sum(:penalty1) || 0) + (apps3.sum(:penalty2) || 0) + (apps3.sum(:penalty3) || 0) %>
    <code><%= number_with_precision amnt, precision: 2, delimiter: ',' %></code> GEL
  </td>
  <td style="text-align: right;">
    <%
      amnt = (apps.sum(:penalty1) || 0) + (apps.sum(:penalty2) || 0) + (apps.sum(:penalty3) || 0) %>
    <code><%= number_with_precision amnt, precision: 2, delimiter: ',' %></code> GEL
  </td>
</tr>

<!-- compensation -->
<tr class="<%= clazz %>">
  <td style="text-align: right;">
    <code><%= number_with_precision 0, precision: 2, delimiter: ',' %></code> GEL <br>
  </td>
  <td style="text-align: right;">
    <% amnt = 0 %>
    <code><%= number_with_precision 0, precision: 2, delimiter: ',' %></code> GEL
  </td>
  <td style="text-align: right;">
    <% amnt = 0 %>
    <code><%= number_with_precision amnt, precision: 2, delimiter: ',' %></code> GEL
  </td>
  <td style="text-align: right;">
    <% amnt=(apps3.sum(:penalty3) || 0) %>
    <code><%= number_with_precision amnt, precision: 2, delimiter: ',' %></code> GEL
  </td>
  <td style="text-align: right;">
    <% amnt=(apps.sum(:penalty3) || 0) %>
    <code><%= number_with_precision amnt, precision: 2, delimiter: ',' %></code> GEL
  </td>
</tr>