<h2 class="page-header">
  <%= @title %>
</h2>
<form method="GET">
  თარიღების ინტერვალი:
  <input name="d1" class="datepicker" style="width:100px;" value="<%= @d1.strftime('%d-%b-%Y') %>" />-დან
  <input name="d2" class="datepicker" style="width:100px;" value="<%= @d2.strftime('%d-%b-%Y') %>" />-მდე
  <input type="submit" value="გენერაცია" />
</form>
<hr/>

<div class="row">
  <div class="col-sm-6">
    <h3 class="page-header"><img src="/icons/user--plus.png"/> ახალი განცხადება</h3>
    <%= render partial: 'network/reports/by_status_apps',
               locals: { clazz: Network::NewCustomerApplication, apps: @newapps } %>
  </div>
  <div class="col-sm-6">
    <h3 class="page-header"><img src="/icons/user--pencil.png"/> ქსელში ცვლილება</h3>
    <%= render partial: 'network/reports/by_status_apps',
               locals: { clazz: Network::ChangePowerApplication, apps: @chgapps } %>
  </div>
</div>

<!-- ჯარიმები -->
<%
  apps0 = @newapps.where(:penalty1    => 0, :penalty2 => 0, :penalty3 => 0)
  apps1 = @newapps.where(:penalty1.gt => 0, :penalty2 => 0, :penalty3 => 0)
  apps2 = @newapps.where(:penalty2.gt => 0, :penalty3 => 0)
  apps3 = @newapps.where(:penalty3.gt => 0)
%>
<h4 class="page-header">კომპენსაციების მიხედვით (ახალი განცხადება)</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ეტაპი</th>
      <th width="150">რაოდ.</th>
      <th width="150">თანხა</th>
      <th width="150">კომპენს.</th>
    </tr>
  </thead>
  <tr>
    <td>დროზე დასრულებული</td>
    <td style="text-align: right;"><code><%= apps0.count %></code></td>
    <td style="text-align: right;">
      <code><%= number_with_precision(apps0.sum(:amount) || 0, precision: 2, delimiter: ',') %></code> GEL
    </td>
    <td style="text-align: right;">
      <code><%= number_with_precision(0, precision: 2, delimiter: ',') %></code> GEL
    </td>
  </tr>
  <tr>
    <td>I ეტაპი</td>
    <td style="text-align: right;"><code><%= apps1.count %></code></td>
    <td style="text-align: right;">
      <code><%= number_with_precision(apps1.sum(:amount) || 0, precision: 2, delimiter: ',') %></code> GEL
    </td>
    <td style="text-align: right;">
      <code><%= number_with_precision(apps1.sum(:penalty1) || 0, precision: 2, delimiter: ',') %></code>
      GEL
    </td>
  </tr>
  <tr>
    <td>II ეტაპი</td>
    <td style="text-align: right;"><code><%= apps2.count %></code></td>
    <td style="text-align: right;">
      <code><%= number_with_precision(apps2.sum(:amount) || 0, precision: 2, delimiter: ',') %></code> GEL
    </td>
    <td style="text-align: right;">
      <code><%= number_with_precision((apps2.sum(:penalty1) || 0) + (apps2.sum(:penalty2) || 0), precision: 2, delimiter: ',') %></code>
      GEL
    </td>
  </tr>
  <tr>
    <td>III ეტაპი</td>
    <td style="text-align: right;"><code><%= apps3.count %></code></td>
    <td style="text-align: right;">
      <code><%= number_with_precision(apps3.sum(:amount) || 0, precision: 2, delimiter: ',') %></code> GEL
    </td>
    <td style="text-align: right;">
      <code><%= number_with_precision(
                  (apps3.sum(:penalty1) || 0) +
                  (apps3.sum(:penalty2) || 0) +
                  (apps3.sum(:penalty3) || 0),
                  precision: 2, delimiter: ',') %>
      </code>
      GEL
    </td>
  </tr>
  <tfoot>
    <tr>
      <th>ჯამი</th>
      <th style="text-align: right;"><code><%= @newapps.count %></code></th>
      <th style="text-align: right;">
        <code><%= number_with_precision(@newapps.sum(:amount) || 0, precision: 2, delimiter: ',') %></code> GEL
      </th>
      <th style="text-align: right;">
        <code><%= number_with_precision(
                    (@newapps.sum(:penalty1) || 0) +
                    (@newapps.sum(:penalty2) || 0) +
                    (@newapps.sum(:penalty3) || 0),
                    precision: 2, delimiter: ',') %></code> GEL
      </th>
    </tr>
  </tfoot>
</table>