<%
  apps0 = @newapps.where(:penalty1    => 0, :penalty2 => 0, :penalty3 => 0)
  apps1 = @newapps.where(:penalty1.gt => 0, :penalty2 => 0, :penalty3 => 0)
  apps2 = @newapps.where(:penalty2.gt => 0, :penalty3 => 0)
  apps3 = @newapps.where(:penalty3.gt => 0)
%>
<h2 class="page-header"><%= @title %></h2>
<div class="pull-right">
  <a href="<%= network_completed_apps_report_url(d1: @d1.strftime('%d-%b-%Y'), d2: @d2.strftime('%d-%b-%Y'), format: 'xlsx') %>">
    <img src="/icons/document-excel.png"/> ექსელში გადმოწერა
  </a>
</div>
<form method="GET">
  თარიღების ინტერვალი:
  <input name="d1" class="datepicker" style="width:100px;" value="<%= @d1.strftime('%d-%b-%Y') %>" />-დან
  <input name="d2" class="datepicker" style="width:100px;" value="<%= @d2.strftime('%d-%b-%Y') %>" />-მდე
  <input type="submit" value="გენერაცია" />
</form>
<hr/>

<%
  tariffs = Network::NewCustomerTariff.asc(:voltage, :power_from)
  curr_tariff = tariffs.first
%>

<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2" style="text-align: center; vertical-align: middle;">ტარიფი</th>
      <th colspan="2" style="text-align: center;"><%= link_to 'დროული', network_new_customers_url(search: {penalty: 0, send_d1: @d1, send_d2: @d2}) %></th>
      <th colspan="2" style="text-align: center;"><%= link_to 'I ეტაპი', network_new_customers_url(search: {penalty: 1, send_d1: @d1, send_d2: @d2}) %></th>
      <th colspan="2" style="text-align: center;"><%= link_to 'II ეტაპი', network_new_customers_url(search: {penalty: 2, send_d1: @d1, send_d2: @d2}) %></th>
      <th colspan="2" style="text-align: center;"><%= link_to 'III ეტაპი', network_new_customers_url(search: {penalty: 3, send_d1: @d1, send_d2: @d2}) %></th>
      <th colspan="2" style="text-align: center;"><%= link_to 'ჯამი', network_new_customers_url(search: {send_d1: @d1, send_d2: @d2}) %></th>
    </tr>
    <tr>
      <% 5.times do %>
      <th width="50" style="text-align: center;">რაოდ.</th>
      <th width="150" style="text-align: center;">თანხა/კომპ.</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% tariffs.each do |t| %>
      <% make_summary = (curr_tariff.voltage != t.voltage) %>
      <% if make_summary %>
        <% loc = { apps:  @newapps.where(voltage: curr_tariff.voltage),
                   apps0: apps0.where(voltage: curr_tariff.voltage),
                   apps1: apps1.where(voltage: curr_tariff.voltage),
                   apps2: apps2.where(voltage: curr_tariff.voltage),
                   apps3: apps3.where(voltage: curr_tariff.voltage),
                   voltage: curr_tariff.voltage
                 } %>
        <%= render partial: 'network/reports/completed_row', locals: loc %>
      <% end %>
      <% curr_tariff = t %>
      <% loc = { apps:  @newapps.where(tariff: t), apps0: apps0.where(tariff: t),
                 apps1: apps1.where(tariff: t), apps2: apps2.where(tariff: t),
                 apps3: apps3.where(tariff: t), power_from: t.power_from,
                 power_to: t.power_to, voltage: t.voltage,
               } %>
      <%= render partial: 'network/reports/completed_row', locals: loc %>
    <% end %>
    <% loc = { apps:  @newapps.where(voltage: curr_tariff.voltage),
               apps0: apps0.where(voltage: curr_tariff.voltage),
               apps1: apps1.where(voltage: curr_tariff.voltage),
               apps2: apps2.where(voltage: curr_tariff.voltage),
               apps3: apps3.where(voltage: curr_tariff.voltage),
               voltage: curr_tariff.voltage
             } %>
    <%= render partial: 'network/reports/completed_row', locals: loc %>
    <% loc = { apps:  @newapps, apps0: apps0, apps1: apps1, apps2: apps2, apps3: apps3 } %>
    <%= render partial: 'network/reports/completed_row', locals: loc %>
  </tbody>
</table>