<h2 class="page-header"><%= @title %></h2>

<div class="pull-right">
  <a href="<%= network_completed_apps_change_power_report_url(d1: @d1, d2: @d2, format: 'xlsx') %>">
    <img src="/icons/document-excel.png"/> ექსელში გადმოწერა
  </a>
</div>
<form method="GET">
  თარიღების ინტერვალი:
  <input name="d1" class="datepicker" style="width:100px;" value="<%= @d1.strftime('%d-%b-%Y') %>" />-დან
  <input name="d2" class="datepicker" style="width:100px;" value="<%= @d2.strftime('%d-%b-%Y') %>" />-მდე
  <input type="submit" value="გენერაცია" />
</form>
<hr/>

<table class="table table-bordered" style="width:600px;">
  <thead>
    <tr>
      <th width="200">ძაბვა</th>
      <th width="200">რაოდენობა</th>
      <th width="200">თანხა</th>
    </tr>
  </thead>
  <tbody>
    <% voltage_collection_change_power.values.each do |v| %>
      <tr>
        <%
          apps = @apps.where(voltage: v)
        %>
        <td><code><%= v %></code></td>
        <td style="text-align: right;">
        <code><%= link_to apps.count, network_change_power_applications_url(search: { voltage: v, send_d1: @d1, send_d2: @d2 }) %></code>
        </td>
        <td style="text-align: right;">
          <code><%= apps.sum(:amount) || 0 %></code> GEL
        </td>
      </tr>
    <% end %>
  </tbody>
</table>