<ul class="list-group">
  <li class="list-group-item">
    <div class="pull-right">
      <code><%= app.address_code %></code>
      <%= app.work_address || app.address %>
    </div>
    <%= t('models.network_new_customer_item.address') %>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <code><%= app.rs_tin %></code>
      <%= app.rs_name %>
    </div>
    <%= t('models.network_new_customer_application.rs_name') %>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <img src="<%= app.status_icon %>"></img>
      <%= app.status_name %>
    </div>
    <%= t('models.network_new_customer_application.status') %>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <code><%= app.power.to_i %></code> kWh /
      <code><%= app.voltage %></code> <%= app.unit %>
    </div>
    <%= t('models.network_new_customer_application.power') %>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <code><%= number_with_precision app.amount, delimiter: ',', separator: '.', precision: 2 %></code> GEL
    </div>
   <%= t('models.network_new_customer_application.amount') %>
  </li>
  <li class="list-group-item">
    <div class="pull-right">
      <code><%= number_with_precision app.paid, delimiter: ',', separator: '.', precision: 2 %></code> GEL
    </div>
    <%= t('models.network_new_customer_application.paid') %>
  </li>
  <% if app.plan_end_date %>
    <li class="list-group-item">
      <div class="pull-right">
        <%= app.plan_end_date.strftime('%d/%m/%Y') %>
      </div>
      <%= t('models.network_new_customer_application.plan_end_date') %>
    </li>
  <% end %>
</ul>