<div class="page-header">
  <div class="pull-right">
    <a href="<%= new_customer_url(id: @application.id, format: 'pdf') %>" class="btn btn-default">
      <i class="fa fa-print"></i>
      <%= t('models.general.actions.print') %>
    </a>
    <% if @application.amount and @application.amount > 0 %>
      <a href="<%= new_customer_paybill_url(id: @application.id, format: 'pdf') %>" class="btn btn-default">
        <i class="fa fa-print"></i>
        <%= t('applications.pay_order') %>
      </a>
    <% end %>
  </div>
  <h2><%= t('models.network_new_customer_application.application') %> <code>#<%= @application.effective_number %></code></h2>
</div>
<%
  my_links = {
    general: link_to(t('applications.new_customer.general'), new_customer_url(id: @application.id)),
    files: link_to("#{t('applications.new_customer.files')} &mdash; #{@application.files.count}".html_safe, new_customer_files_url(id: @application.id)),
    messages: link_to("#{t('applications.new_customer.messages')} &mdash; #{@application.messages.count}".html_safe, new_customer_messages_url(id: @application.id)),
    items: link_to("#{t('applications.new_customer.items')} &mdash; #{@application.billing_items.count}".html_safe, new_customer_items_url(id: @application.id)),
  }
%>
<ul class="nav nav-pills nav-justified-x" style="margin-bottom: 16px;">
  <% my_links.each do |name, link| %>
    <li class="<%= @pill == name.to_s ? 'active' : 'inactive' %>"> 
      <%= link %>
    </li>
  <% end %>
</ul>