<%= render partial: 'new_customers/top' %>

<!-- files & upload button -->

<% if @application.editable_online? %>
  <div class="btn-toolbar" style="margin-bottom: 16px;"> 
    <a href="<%= new_customer_upload_file_url(id: @application.id) %>" class="btn btn-success">
      <i class="fa fa-plus-circle"></i>
      <%= t 'models.network_new_customer_application.actions.upload' %>
    </a>
  </div>
<% end %>

<% if @application.files.any? %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t("models.network_new_customer_application.files.date") %></th>
      <th><%= t("models.network_new_customer_application.files.filename") %></th>
      <th><%= t("models.network_new_customer_application.files.filesize") %></th>
      <th class="text-center"><i class="fa fa-cog"></i></th>
    </tr>
  </thead>
  <tbody>
    <% @application.files.each_with_index do |file, index| %>
      <tr>
        <td class="text-right">
          <%= index + 1 %>
        </td>
        <td><%= file.created_at.strftime('%d/%m/%Y %H:%M:%S') %></td>
        <td>
          <a href="<%= file.file.to_s  %>">
            <%= file.file.filename %>
          </a>
        </td>
        <td class="text-right">
          <code><%= (file.file.size / 1000.0).round %></code> kB
        </td>
        <td class="text-center">
          <% if @application.editable_online? %>
            <a href="<%= new_customer_delete_file_url(id: file.id) %>" data-method="delete" class="btn btn-sm btn-default" data-confirm="<%= t 'models.network_new_customer_application.actions.delete_confirm' %>">
              <i class="fa fa-trash-o"></i>
            </a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<!-- required documents -->

<h3 class="page-header"><%= t("models.network_new_customer_application.docs_list") %></h3>
<% if @application.docs_are_ok? %>
  <div class="alert alert-success">
    <%= yes_no true %>
    <%= t("models.network_new_customer_application.docs_complete") %>
  </div>
<% else %>
  <div class="alert alert-danger">
    <%= yes_no false %>
    <%= t("models.network_new_customer_application.docs_incomplete") %>
  </div>
  <div class="alert alert-info">
    <p>
      <i class="fa fa-info-circle"></i>
      <%= t("models.network_new_customer_application.docs") %>
    </p>
  </div>
<% end %>

<% [:doc_id, :doc_ownership, :doc_project, :doc_payment].each_with_index do |doc, index| %>
  <% has_doc = @application.send doc %>
  <% title = t("models.network_new_customer_application.page_flow.#{doc}") %>
  <% if has_doc %>
    <h3 class="text-success page-header">
      #<%= index + 1 %>: <%= title %> <%= yes_no true %>
    </h3>
  <% else %>
    <h3 class="text-danger page-header">
      #<%= index + 1 %>: <%= title %> <%= yes_no false %>
    </h3>
    <p>
      <%= t("models.network_new_customer_application.page_flow.#{doc}_descr").html_safe %>
    </p>
    <% if doc.to_s == 'doc_payment' %>
      <% if @application.amount and @application.amount > 0 %>
        <p class="alert alert-warning">
         <%= t("models.network_new_customer_application.mintopay") %> <code><%= @application.amount / 2 %></code> GEL
        </p>
      <% else %>
        <div class="alert alert-danger">
          თქვენ გაქვთ სიმძლავრის/ძაბვის შეუსაბამობა, რის გამოც
          ვერ ხერხდება თქვენი კუთვნილი თანხის დაანგარიშება.
          გთხოვთ გაასწოროთ!
        </div>
      <% end %>
    <% end %>
    <p class="text-center">
      <% url = new_customer_confirm_step_url(id: @application.id, step: doc) %>
      <% confirm = t("models.network_new_customer_application.page_flow.#{doc}_confirm") %>
      <a href="<%= url %>" data-method="post" data-confirm="<%= confirm %>" class="btn btn-success">
        <i class="fa fa-check"></i>
        <%= t('models.network_new_customer_application.page_flow.doc_complete', step: (index + 1)) %>
      </a>
    </p>
  <% end %>

<% end %>
