<div class="page-header">
  <div class="pull-right">
    <a class="btn btn-success" href="<%= create_new_customer_url %>">
      <i class="fa fa-plus-circle"></i> <%= t('models.network_new_customer_application.actions.new') %>
    </a>
  </div>
  <h1><%= @title %></h1>
</div>
  <% if @applications.any? %>
      <% @applications.each do |app| %>
        <div class="page-header">
          <div class="pull-right">
            <a class="btn btn-default" href="<%= new_customer_url(id: app.id, format: 'pdf') %>">
              <i class="fa fa-print"></i> <%= t('models.general.actions.print') %>
            </a>
            <a class="btn btn-default" href="<%= new_customer_url(id: app.id) %>">
              <i class="fa fa-eye"></i>
              <%= t('models.general.detailed') %>
            </a>
          </div>
          <h3><%= t('models.network_new_customer_application.application') %> <code>#<%= app.effective_number %></code></h3>
        </div>
        <%= render partial: 'new_customers/item', locals: { app: app } %>
      <% end %>
  <% else %>
    <div class="well">
      <%= t('models.network_new_customer_application.actions.unregistered') %>
    </div>
  <% end %>
</div>