<%= render partial: 'new_customers/top' %>
<div class="text-muted" style="margin-bottom: 16px;">
  <%= t('models.network_new_customer_item.billing_operations') %>
</div>
<% if @application.billing_items.any? %>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th><%= t('models.network_request_item.date') %></th>
      <th><%= t('models.billing_customer.operation') %></th>
      <th><%= t('models.billing_customer.gel') %></th>
    </tr>
  </thead>
  <tbody>
    <% @application.billing_items.each do |item| %>
      <tr>
        <td><%= item.itemdate.strftime('%d/%m/%Y') %></td>
        <td>
          <code><%= item.billoperkey %></code>
          <%= item.operation %>
        </td>
        <td style="text-align: right;">
          <code><%= number_with_precision item.amount, delimiter: ' ', separator: ',', precision: 2 %></code>
          GEL
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<div class="well">  
  <%= t('models.network_new_customer_item.no_operations') %>
</div>
<% end %>