<h1 class="page-header">
  <%= @title %>
  <code>#<%= @application.effective_number %></code>
</h1>
<%= form_for @file, url: request.url do |f| %>
  <p class="text-info">
    <%= t 'models.network_new_customer_application.actions.upload_hint' %>
  </p>
  <%= f.file_field :file %>
  <div style="padding-top: 32px;">
    <%= f.submit @title, class: 'btn btn-primary' %>
    <a href="<%= new_customer_files_url(id: @application.id) %>" class="btn btn-default">
      <i class="fa fa-times-circle"></i>
      <%= t 'models.general.actions.cancel' %>
    </a>
  </div>
<% end %> 