<h1 class="page-header"><%=@title%></h1>
<div>
  <a href="<%=admin_subscribers_url%>" class="btn btn-default btn-lg">
    <img src="/icons/users.png"/>
    ხელმომწერთა სია (<%=Sys::Subscription.count%>)
  </a>
  <a href="<%=admin_headlines_url%>" class="btn btn-default btn-lg">
    <img src="/icons/newspaper.png"/>
    ყველა სიახლე (<%=Site::Node.where(type: 'news').count%>)
  </a>
</div>