<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="modal-title" id="myModalLabel"><%= t('services.title') %></h4>
      </div> 
      <div class="panel-body"> 
        <ul class="list-group">
          <% Payge::PAY_SERVICES.each do |service| %>
            <li class="list-group-item">
              <i class="fa <%= service[:icon] %>"></i>
              <div class="pull-right">
                <%= link_to '<i class="fa fa-arrow-right"></i>'.html_safe, pay_show_form_url(:serviceid => service[:ServiceID]), :class => "btn btn-primary btn-xs" %>
              </div>
              &nbsp;  
              <%= servicetext(service[:ServiceID]) %>
            </li>
        <% end %>
        </ul>
      </div>
      <div class="panel-footer" align="center">
        <%= link_to t('buttons.history'), pay_user_index_url, :class => "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
</div>