<script type="text/javascript">
var MAX_COUNT = 10;
var INTERVAL = 2000;
var JOBID = '<%= @job.id %>';
var RETURN_URL = '<%= @return_url %>';
var curr_count = 0;
$(function() {
  checkJob();
});

var checkJob = function() {
  curr_count += 1;
  if (curr_count <= MAX_COUNT) {
    $.get('/api/jobs/status/' + JOBID, function(data) {
      if (data.failed) {
        onFailedJob();
      } else if (data.success) {
        onSuccessfulJob();
      } else {
        setTimeout(checkJob, INTERVAL);
      }
    });
  }
};

var onSuccessfulJob = function() {
  downloadURL('/api/jobs/download/' + JOBID, function() {
    $('#wait').hide();
    window.location = '<%= @return_url %>';
  });
};

var onFailedJob = function() {
  $('#wait').hide();
  $('#failure').show();
};

var downloadURL = function downloadURL(url, callback) {
    var hiddenIFrameID = 'hiddenDownloader',
        iframe = document.getElementById(hiddenIFrameID);
    if (iframe === null) {
        iframe = document.createElement('iframe');
        iframe.id = hiddenIFrameID;
        iframe.style.display = 'none';
        iframe.onload = callback;
        document.body.appendChild(iframe);
    }
    iframe.src = url;
};
</script>
<div id="wait">
  <p style="text-align: center; font-size: 1.5em; color: #aaa; padding: 128px 0;">
    <img src="/images/wait.gif" /> გთხოვთ დაელოდეთ: მიმდინარეობს გენერაცია...
  </p>
  <hr />
  <div class="btn-toolbar text-center">
    <a href="<%= @return_url %>" class="btn btn-default" data-no-turbolink>
      <i class="fa fa-times-circle"></i>
      გაუქმება
    </a>
  </div>
</div>
<div id="failure" style="display:none;">
  <div class="alert alert-danger">ფაილის გენერაცია ვერ მოხერხდა.</div>
  <div class="btn-toolbar text-center">
    <a href="<%= request.url %>" class="btn btn-success">
      <i class="fa fa-refresh"></i>
      სცადეთ ხელახლა
    </a>
    <a href="<%= @return_url %>" class="btn btn-default" data-no-turbolink>
      <i class="fa fa-times-circle"></i>
      გაუქმება
    </a>
  </div>
</div>